<h1>hello from new writ</h1>
<div class="page">
  <div class="page-header">
    <div>
      <p>Input your writ information below</p>
    </div>
  </div>
  <div class="form">
    <!-- Writ Type -->
    <div class="form-elem">
      <div>
        <p>Writ Type</p>
      </div>
      <select [(ngModel)]="writType" (change)="writTypeChange($event)">
        <option *ngFor="let option of writTypeOptions">
          {{ option }}
        </option>
      </select>
    </div>
    <!-- Quality  -->
    <div class="form-elem">
      <div>
        <p>Quality</p>
      </div>
      <select [(ngModel)]="quality" (change)="qualityChange($event)">
        <option *ngFor="let quality of qualities">
          {{ quality }}
        </option>
      </select>
    </div>
    <!-- Items -->
    <div [ngSwitch]="writType">
      <!-- Blacksmithing Items -->
      <div
        id="blacksmithingItems"
        class="form-elem"
        *ngSwitchCase="'Blacksmithing'"
      >
        <div>
          <p>Item</p>
        </div>
        <select [(ngModel)]="item" (change)="itemChange($event)">
          <option *ngFor="let item of blacksmithingItems">
            {{ item }}
          </option>
        </select>
      </div>
      <!-- Clothing Items -->
      <div id="clothingItems" class="form-elem" *ngSwitchCase="'Clothing'">
        <div>
          <p>Item</p>
        </div>
        <select [(ngModel)]="item" (change)="itemChange($event)">
          <option *ngFor="let item of clothingItems">
            {{ item }}
          </option>
        </select>
      </div>
      <!-- Woodworking Items -->
      <div
        id="woodworkingItems"
        class="form-elem"
        *ngSwitchCase="'Woodworking'"
      >
        <div>
          <p>Item</p>
        </div>
        <select [(ngModel)]="item" (change)="itemChange($event)">
          <option *ngFor="let item of woodItems">
            {{ item }}
          </option>
        </select>
      </div>
      <!-- Jewelery Items -->
      <div id="jeweleryItems" class="form-elem" *ngSwitchCase="'Jewelery'">
        <div>
          <p>Item</p>
        </div>
        <select [(ngModel)]="item" (change)="itemChange($event)">
          <option *ngFor="let item of jeweleryItems">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
    <!-- Traits  -->
    <div>
      <!-- Weapon Traits -->
      <div id="weaponTraits" class="form-elem" *ngIf="showWeaponTraits">
        <div>
          <p>Trait</p>
        </div>
        <select [(ngModel)]="trait" (change)="traitChanged($event)">
          <option *ngFor="let trait of weaponTraits">
            {{ trait }}
          </option>
        </select>
      </div>
      <!-- Armor Traits -->
      <div id="armorTraits" class="form-elem" *ngIf="showArmorTraits">
        <div>
          <p>Trait</p>
        </div>
        <select [(ngModel)]="trait" (change)="traitChanged($event)">
          <option *ngFor="let trait of armorTraits">
            {{ trait }}
          </option>
        </select>
      </div>
      <!-- Jewelery Traits -->
      <div id="jeweleryTraits" class="form-elem" *ngIf="showJeweleryTraits">
        <div>
          <p>Trait</p>
        </div>
        <select [(ngModel)]="trait" (change)="traitChanged($event)">
          <option *ngFor="let trait of JeweleryTraits">
            {{ trait }}
          </option>
        </select>
      </div>
    </div>
    <!-- Set -->
    <div id="armorSet" class="form-elem">
      <div>
        <p>Set</p>
      </div>
      <select [(ngModel)]="armorSet" (change)="armorSetChange($event)">
        <option *ngFor="let set of armorSets">
          {{ set }}
        </option>
      </select>
    </div>
    <!-- Style -->
    <div id="style" class="form-elem" *ngIf="showStyle">
      <div>
        <p>Style</p>
      </div>
      <select [(ngModel)]="style" (change)="styleChange($event)">
        <option *ngFor="let style of styles">
          {{ style }}
        </option>
      </select>
    </div>
    <!-- Reward -->
    <div id="reward" class="form-elem">
      <div>
        <p>Writ Reward</p>
      </div>
      <input
        class="rewardInput"
        type="number"
        min="0"
        [(ngModel)]="reward"
        (change)="rewardChanged($event)"
        (beforeinput)="handleBeforeInput($event)"
      />
    </div>
    <div>
      <div>
        <button (click)="submitWrit()">Submit</button>
        <button (click)="resetAll()">Clear</button>
      </div>
    </div>
  </div>
</div>
