/* Red color when under 50% */
.red {
  background-color: red;
}

/* Yellow color at 50% to 75% */
.yellow {
  background-color: yellow;
}

/* Green color when 75% to 100% */
.green {
  background-color: green;
}
