<!-- Navigation - Crafting Type -->
<div class="p-1 my-1 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
  <div class="row">
    <div class="d-flex">
      <button class="btn btn-primary" (click)="nextOrPrevCraftingType('prev')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-left-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
          />
        </svg>
        Previous
      </button>
      <div
        class="setWidthB d-flex align-items-center justify-content-center setWidthA"
      >
        <strong>{{ selectedCraftingType }}</strong>
      </div>
      <button class="btn btn-primary" (click)="nextOrPrevCraftingType('next')">
        Next
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-right-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- Navigation - Item -->
<div class="p-1 my-1 col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
  <div class="row">
    <div class="d-flex">
      <button class="btn btn-primary" (click)="nextOrPrevItem('prev')">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-left-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"
          />
        </svg>
        Previous
      </button>
      <div
        class="setWidthB d-flex align-items-center justify-content-center setWidthA"
      >
        <strong>{{ selectedItem }}</strong>
      </div>
      <button class="btn btn-primary" (click)="nextOrPrevItem('next')">
        Next
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-caret-right-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- Items and Traits -->
<!-- <div class="container"> -->
<!-- Chosen Item -->
<!-- <div class="row">
    <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
      <div
        class="my-3 d-flex flex-row justify-content-around"
        id="chosenItemDropdownContainer"
      >
        <select-dropdown
          class="col-3"
          [buttonText]="'Item'"
          [options]="shownItems"
          [disableFromParent]="disableItems"
          (selectedOption)="handleSelectedItemChange($event)"
        >
        </select-dropdown>
        <div class="col-9">
          <h5 *ngIf="chosenItem" class="card-title text-center">
            {{ chosenItem }}
          </h5>
        </div>
      </div>
    </div>
  </div> -->
<!-- Traits -->
<!-- <div class="row" *ngIf="chosenItem">
    <unlock-button
      [name]="'Toggle All'"
      [positive]="'Learned'"
      [negative]="'Locked'"
      (optionSelected)="onAllTraitToggle($event)"
    ></unlock-button>
    <ng-container *ngFor="let tuple of itemForButtons.slice(1); let i = index">
      <unlock-button
        [id]="'${tuple[0]}-${i}'"
        [name]="tuple[0]"
        [positive]="'Learned'"
        [negative]="'Locked'"
        [setOption]="tuple[1]"
        (optionSelected)="onSingleTraitToggle($event)"
      ></unlock-button>
    </ng-container>
  </div> -->
<!-- </div> -->
