<!-- Crafting Type -->
<div class="container">
  <div class="row">
    <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
      <div class="my-3 d-flex flex-row justify-content-around" id="wow">
        <select-dropdown
          class="col-3"
          [buttonText]="'Crafting'"
          [options]="craftingTypes"
          (selectedOption)="handleCraftingTypeChange($event)"
        >
        </select-dropdown>
        <div class="col-9">
          <h5 *ngIf="chosenCraftingType" class="card-title text-center">
            {{ chosenCraftingType }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Items and Traits -->
<div class="container">
  <!-- Chosen Item -->
  <div class="row">
    <div class="card col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-3">
      <div class="my-3 d-flex flex-row justify-content-around" id="wow">
        <select-dropdown
          class="col-3"
          [buttonText]="'Item'"
          [options]="shownItems"
          [disableFromParent]="disableItems"
          (selectedOption)="handleSelectedItemChange($event)"
        >
        </select-dropdown>
        <div class="col-9">
          <h5 *ngIf="chosenItem" class="card-title text-center">
            {{ chosenItem }}
          </h5>
        </div>
      </div>
    </div>
  </div>
  <!-- Traits -->
  <div class="row" *ngIf="chosenItem">
    <unlock-button
      [name]="'Toggle All'"
      [positive]="'Learned'"
      [negative]="'Locked'"
      (optionSelected)="onAllTraitToggle($event)"
    ></unlock-button>
    <ng-container *ngFor="let tuple of itemForButtons.slice(1); let i = index">
      <unlock-button
        [id]="'${tuple[0]}-${i}'"
        [name]="tuple[0]"
        [positive]="'Learned'"
        [negative]="'Locked'"
        [optionFromParent]="tuple[1]"
        (optionSelected)="onSingleTraitToggle($event)"
      ></unlock-button>
    </ng-container>
  </div>
</div>
