<div class="card mb-3 setWidth">
  <div class="card-body">
    <h5 class="card-title text-center">{{ name }}</h5>
    <div class="d-flex justify-content-center">
      <!-- Affirmative Option -->
      <div class="mx-2">
        <input
          type="radio"
          class="btn-check"
          name="{{ name }}-{{ positive }}"
          id="{{ name }}-{{ positive }}"
          autocomplete="off"
          value="true"
          (change)="choose(true)"
          [checked]="chosenOption === true"
          [disabled]="disabled"
        />
        <label
          class="btn btn-outline-success"
          for="{{ name }}-{{ positive }}"
          >{{ positive }}</label
        >
      </div>
      <!-- Negative Option -->
      <div class="mx-2">
        <input
          type="radio"
          class="btn-check"
          name="{{ name }}-{{ negative }}"
          id="{{ name }}-{{ negative }}"
          autocomplete="off"
          value="false"
          (change)="choose(false)"
          [checked]="chosenOption === false"
          [disabled]="disabled"
        />
        <label class="btn btn-outline-danger" for="{{ name }}-{{ negative }}">{{
          negative
        }}</label>
      </div>
    </div>
  </div>
</div>
