<div>
  <div>Instructions here</div>
  <div>
    <div>
      <div>Blacksmithing</div>
      <button>Weapons</button>
      <button>Armor</button>
    </div>
    <div>
      <button>Clothing</button>
    </div>
    <div>
      <div>Woodworking</div>
      <button>Weapons</button>
      <button>Armor</button>
    </div>
    <div>
      <button>Jewelry</button>
    </div>
  </div>
  <div>
    <button>Prev</button>
    <button>Item</button>
    <button>Next</button>
  </div>
  <div>
    <div><button>Toggle All</button></div>
    <div>
      <button *ngfor="let trait of traits">{{trait}}</button>
    </div>
  </div>
</div>
