<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button
        [disabled]="disableFromParent"
        type="button"
        class="btn btn-primary"
        id="dropdown"
        ngbDropdownToggle
      >
        {{ buttonText }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdown">
        <ng-container *ngFor="let option of options">
          <button ngbDropdownItem (click)="optionClicked(option)">
            {{ option }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
